/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
	base {
		--light-square: #ffc18c;
		--dark-square: #563232;
		--board-text: #84240c;
		--board-bg: #da6d42;
	}
}
